ExampleCsharp1/DemoConnector/Connected Services/TwinfieldDeletedTransactionService/DeletedTransactionsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.DeletedTransactionsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.DeletedTransactionsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://c3.twinfield.com/webservices/DeletedTransactionsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" />
  <xs:complexType name="GetDeletedTransactions">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q1:Query">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateFrom" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateTo" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Daybook" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDeletedTransactions" nillable="true" type="tns:GetDeletedTransactions" />
  <xs:complexType name="GetDeletedTransactionsResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q2:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeletedTransactions" nillable="true" type="tns:ArrayOfDeletedTransaction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDeletedTransactionsResult" nillable="true" type="tns:GetDeletedTransactionsResult" />
  <xs:complexType name="ArrayOfDeletedTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeletedTransaction" nillable="true" type="tns:DeletedTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeletedTransaction" nillable="true" type="tns:ArrayOfDeletedTransaction" />
  <xs:complexType name="DeletedTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Daybook" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeletionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReasonForDeletion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionNumber" type="xs:decimal" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeletedTransaction" nillable="true" type="tns:DeletedTransaction" />
  <xs:complexType name="DeletedTransactionsServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:DeletedTransactionsServiceFaultCode" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeletedTransactionsServiceFault" nillable="true" type="tns:DeletedTransactionsServiceFault" />
  <xs:simpleType name="DeletedTransactionsServiceFaultCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InvalidCompanyCode" />
      <xs:enumeration value="InvalidDaybook" />
      <xs:enumeration value="InvalidDates" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DeletedTransactionsServiceFaultCode" nillable="true" type="tns:DeletedTransactionsServiceFaultCode" />
</xs:schema>