ExampleCsharp1/DemoConnector/Connected Services/TwinfieldDeletedTransactionService/DeletedTransactionsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.twinfield.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeletedTransactionsService" targetNamespace="http://www.twinfield.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.twinfield.com/Imports">
      <xsd:import schemaLocation="https://c3.twinfield.com/webservices/DeletedTransactionsService.svc?xsd=xsd3" namespace="http://www.twinfield.com/" />
      <xsd:import schemaLocation="https://c3.twinfield.com/webservices/DeletedTransactionsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" />
      <xsd:import schemaLocation="https://c3.twinfield.com/webservices/DeletedTransactionsService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.DeletedTransactionsService" />
      <xsd:import schemaLocation="https://c3.twinfield.com/webservices/DeletedTransactionsService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://c3.twinfield.com/webservices/DeletedTransactionsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.Shared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="QueryRequest">
    <wsdl:part name="Query" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="QueryRequest_Headers">
    <wsdl:part name="Authentication" element="tns:Authentication" />
    <wsdl:part name="SessionId" element="tns:SessionId" />
  </wsdl:message>
  <wsdl:message name="QueryResponse">
    <wsdl:part name="Result" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="DeletedTransactionsService_Query_SecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="detail" element="q1:SecurityFault" />
  </wsdl:message>
  <wsdl:message name="DeletedTransactionsService_Query_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="detail" element="q2:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="DeletedTransactionsService_Query_DeletedTransactionsServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.DeletedTransactionsService" name="detail" element="q3:DeletedTransactionsServiceFault" />
  </wsdl:message>
  <wsdl:portType name="DeletedTransactionsService">
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://www.twinfield.com/DeletedTransactionsService/Query" name="QueryRequest" message="tns:QueryRequest" />
      <wsdl:output wsaw:Action="http://www.twinfield.com/DeletedTransactionsService/QueryResponse" name="QueryResponse" message="tns:QueryResponse" />
      <wsdl:fault wsaw:Action="http://www.twinfield.com/DeletedTransactionsService/QuerySecurityFaultFault" name="SecurityFaultFault" message="tns:DeletedTransactionsService_Query_SecurityFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.twinfield.com/DeletedTransactionsService/QueryValidationFaultFault" name="ValidationFaultFault" message="tns:DeletedTransactionsService_Query_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.twinfield.com/DeletedTransactionsService/QueryDeletedTransactionsServiceFaultFault" name="DeletedTransactionsServiceFaultFault" message="tns:DeletedTransactionsService_Query_DeletedTransactionsServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_DeletedTransactionsService" type="tns:DeletedTransactionsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://www.twinfield.com/DeletedTransactionsService/Query" style="document" />
      <wsdl:input name="QueryRequest">
        <soap:header message="tns:QueryRequest_Headers" part="Authentication" use="literal" />
        <soap:header message="tns:QueryRequest_Headers" part="SessionId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="QueryResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SecurityFaultFault">
        <soap:fault use="literal" name="SecurityFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DeletedTransactionsServiceFaultFault">
        <soap:fault use="literal" name="DeletedTransactionsServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeletedTransactionsService">
    <wsdl:port name="BasicHttpBinding_DeletedTransactionsService" binding="tns:BasicHttpBinding_DeletedTransactionsService">
      <soap:address location="https://c3.twinfield.com/webservices/DeletedTransactionsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>