ExampleCsharp1/TwinfieldApi/Service References/TwinfieldTransactionBlockedValueService/TransactionBlockedValueService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.twinfield.com/" elementFormDefault="qualified" targetNamespace="http://www.twinfield.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://c3.twinfield.com/webservices/TransactionBlockedValueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" />
  <xs:import schemaLocation="https://c3.twinfield.com/webservices/TransactionBlockedValueService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.Shared" />
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="Command" nillable="true" type="q1:Command" />
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.Shared" name="Authentication" nillable="true" type="q2:AuthenticationHeader" />
  <xs:element name="SessionId" nillable="true" type="xs:string" />
</xs:schema>