ExampleCsharp1/TwinfieldApi/Service References/TwinfieldTransactionBlockedValueService/TransactionBlockedValueService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.twinfield.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransactionBlockedValueService" targetNamespace="http://www.twinfield.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.twinfield.com/Imports">
      <xsd:import schemaLocation="https://c3.twinfield.com/webservices/TransactionBlockedValueService.svc?xsd=xsd3" namespace="http://www.twinfield.com/" />
      <xsd:import schemaLocation="https://c3.twinfield.com/webservices/TransactionBlockedValueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" />
      <xsd:import schemaLocation="https://c3.twinfield.com/webservices/TransactionBlockedValueService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.TransactionBlockedValueService" />
      <xsd:import schemaLocation="https://c3.twinfield.com/webservices/TransactionBlockedValueService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://c3.twinfield.com/webservices/TransactionBlockedValueService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.Shared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CommandRequest">
    <wsdl:part name="Command" element="tns:Command" />
  </wsdl:message>
  <wsdl:message name="CommandRequest_Headers">
    <wsdl:part name="Authentication" element="tns:Authentication" />
    <wsdl:part name="SessionId" element="tns:SessionId" />
  </wsdl:message>
  <wsdl:message name="TransactionBlockedValueService_Process_OutputMessage" />
  <wsdl:message name="TransactionBlockedValueService_Process_SecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="detail" element="q1:SecurityFault" />
  </wsdl:message>
  <wsdl:message name="TransactionBlockedValueService_Process_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="detail" element="q2:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="TransactionBlockedValueService_Process_TransactionBlockedValueServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.TransactionBlockedValueService" name="detail" element="q3:TransactionBlockedValueServiceFault" />
  </wsdl:message>
  <wsdl:portType name="TransactionBlockedValueService">
    <wsdl:operation name="Process">
      <wsdl:input wsaw:Action="http://www.twinfield.com/TransactionBlockedValueService/Process" name="CommandRequest" message="tns:CommandRequest" />
      <wsdl:output wsaw:Action="http://www.twinfield.com/TransactionBlockedValueService/ProcessResponse" message="tns:TransactionBlockedValueService_Process_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.twinfield.com/TransactionBlockedValueService/ProcessSecurityFaultFault" name="SecurityFaultFault" message="tns:TransactionBlockedValueService_Process_SecurityFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.twinfield.com/TransactionBlockedValueService/ProcessValidationFaultFault" name="ValidationFaultFault" message="tns:TransactionBlockedValueService_Process_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.twinfield.com/TransactionBlockedValueService/ProcessTransactionBlockedValueServiceFaultFault" name="TransactionBlockedValueServiceFaultFault" message="tns:TransactionBlockedValueService_Process_TransactionBlockedValueServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_TransactionBlockedValueService" type="tns:TransactionBlockedValueService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Process">
      <soap:operation soapAction="http://www.twinfield.com/TransactionBlockedValueService/Process" style="document" />
      <wsdl:input name="CommandRequest">
        <soap:header message="tns:CommandRequest_Headers" part="Authentication" use="literal" />
        <soap:header message="tns:CommandRequest_Headers" part="SessionId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SecurityFaultFault">
        <soap:fault use="literal" name="SecurityFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TransactionBlockedValueServiceFaultFault">
        <soap:fault use="literal" name="TransactionBlockedValueServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionBlockedValueService">
    <wsdl:port name="BasicHttpBinding_TransactionBlockedValueService" binding="tns:BasicHttpBinding_TransactionBlockedValueService">
      <soap:address location="https://c3.twinfield.com/webservices/TransactionBlockedValueService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>