ExampleCsharp1/DemoConnector/Connected Services/TwinfieldBankStatementService/BankStatementService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.BankStatementService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.BankStatementService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://accounting.twinfield.com/webservices/BankStatementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" />
  <xs:complexType name="GetBankStatements">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q1:Query">
        <xs:sequence>
          <xs:element minOccurs="0" name="IncludePostedStatements" type="xs:boolean" />
          <xs:element minOccurs="0" name="StatementDateFrom" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StatementDateTo" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBankStatements" nillable="true" type="tns:GetBankStatements" />
  <xs:complexType name="GetBankStatementsResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q2:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="BankStatements" nillable="true" type="tns:ArrayOfBankStatement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBankStatementsResult" nillable="true" type="tns:GetBankStatementsResult" />
  <xs:complexType name="ArrayOfBankStatement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankStatement" nillable="true" type="tns:BankStatement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankStatement" nillable="true" type="tns:ArrayOfBankStatement" />
  <xs:complexType name="BankStatement">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClosingBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Iban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lines" nillable="true" type="tns:ArrayOfBankStatementLine" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="OpeningBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="StatementDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SubId" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionNumber" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankStatement" nillable="true" type="tns:BankStatement" />
  <xs:complexType name="ArrayOfBankStatementLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankStatementLine" nillable="true" type="tns:BankStatementLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankStatementLine" nillable="true" type="tns:ArrayOfBankStatementLine" />
  <xs:complexType name="BankStatementLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllocationMethods" nillable="true" type="tns:ArrayOfBankStatementAllocationMethod" />
      <xs:element minOccurs="0" name="AllocationRuleStorageLevel" type="tns:BankStatementAllocationRuleStorageLevel" />
      <xs:element minOccurs="0" name="Allocations" nillable="true" type="tns:ArrayOfBankStatementAllocation" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ContraAccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContraAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContraIban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndToEndId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineId" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recognition" nillable="true" type="tns:BankStatementAllocationRecognition" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionTypeId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankStatementLine" nillable="true" type="tns:BankStatementLine" />
  <xs:complexType name="ArrayOfBankStatementAllocationMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankStatementAllocationMethod" nillable="true" type="tns:BankStatementAllocationMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankStatementAllocationMethod" nillable="true" type="tns:ArrayOfBankStatementAllocationMethod" />
  <xs:complexType name="BankStatementAllocationMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AmountOperator" nillable="true" type="tns:BankStatementAmountOperator" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:BankStatementAllocationMethodType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankStatementAllocationMethod" nillable="true" type="tns:BankStatementAllocationMethod" />
  <xs:simpleType name="BankStatementAmountOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Equal" />
      <xs:enumeration value="NotEqual" />
      <xs:enumeration value="LessThan" />
      <xs:enumeration value="LessThanOrEqualTo" />
      <xs:enumeration value="MoreThan" />
      <xs:enumeration value="MoreThanOrEqualTo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BankStatementAmountOperator" nillable="true" type="tns:BankStatementAmountOperator" />
  <xs:simpleType name="BankStatementAllocationMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Description" />
      <xs:enumeration value="ContraAccountNumber" />
      <xs:enumeration value="ContraIban" />
      <xs:enumeration value="ContraAccountName" />
      <xs:enumeration value="TransactionTypeId" />
      <xs:enumeration value="Reference" />
      <xs:enumeration value="Amount" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BankStatementAllocationMethodType" nillable="true" type="tns:BankStatementAllocationMethodType" />
  <xs:simpleType name="BankStatementAllocationRuleStorageLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotStored" />
      <xs:enumeration value="LocalBank" />
      <xs:enumeration value="LocalOffice" />
      <xs:enumeration value="TemplateBank" />
      <xs:enumeration value="TemplateOffice" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BankStatementAllocationRuleStorageLevel" nillable="true" type="tns:BankStatementAllocationRuleStorageLevel" />
  <xs:complexType name="ArrayOfBankStatementAllocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankStatementAllocation" nillable="true" type="tns:BankStatementAllocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankStatementAllocation" nillable="true" type="tns:ArrayOfBankStatementAllocation" />
  <xs:complexType name="BankStatementAllocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ChequeNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimension1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimension2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimension3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimension4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimension5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimension6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matchings" nillable="true" type="tns:ArrayOfBankStatementMatching" />
      <xs:element minOccurs="0" name="PayingInSlipNumber" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SaveDescriptionFormatToAllocationRule" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sense" type="tns:BankStatementSense" />
      <xs:element minOccurs="0" name="Type" type="tns:BankStatementAllocationType" />
      <xs:element minOccurs="0" name="VatLines" nillable="true" type="tns:ArrayOfBankStatementVatLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankStatementAllocation" nillable="true" type="tns:BankStatementAllocation" />
  <xs:complexType name="ArrayOfBankStatementMatching">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankStatementMatching" nillable="true" type="tns:BankStatementMatching" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankStatementMatching" nillable="true" type="tns:ArrayOfBankStatementMatching" />
  <xs:complexType name="BankStatementMatching">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineId" type="xs:int" />
      <xs:element minOccurs="0" name="Number" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankStatementMatching" nillable="true" type="tns:BankStatementMatching" />
  <xs:simpleType name="BankStatementSense">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Debit" />
      <xs:enumeration value="Credit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BankStatementSense" nillable="true" type="tns:BankStatementSense" />
  <xs:simpleType name="BankStatementAllocationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Suspense" />
      <xs:enumeration value="GeneralLedger" />
      <xs:enumeration value="Customer" />
      <xs:enumeration value="Supplier" />
      <xs:enumeration value="SupplierCheque" />
      <xs:enumeration value="PayingInSlip" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BankStatementAllocationType" nillable="true" type="tns:BankStatementAllocationType" />
  <xs:complexType name="ArrayOfBankStatementVatLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankStatementVatLine" nillable="true" type="tns:BankStatementVatLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankStatementVatLine" nillable="true" type="tns:ArrayOfBankStatementVatLine" />
  <xs:complexType name="BankStatementVatLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Turnover" type="xs:decimal" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValueOverridden" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankStatementVatLine" nillable="true" type="tns:BankStatementVatLine" />
  <xs:simpleType name="BankStatementAllocationRecognition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AllocationRule" />
      <xs:enumeration value="ContraAccountNumber" />
      <xs:enumeration value="ContraIban" />
      <xs:enumeration value="InvoiceNumber" />
      <xs:enumeration value="RelationCode" />
      <xs:enumeration value="ChequeNumber" />
      <xs:enumeration value="PayingInSlipNumber" />
      <xs:enumeration value="PaymentResult" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BankStatementAllocationRecognition" nillable="true" type="tns:BankStatementAllocationRecognition" />
  <xs:complexType name="BankStatementServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:BankStatementServiceFaultCode" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankStatementServiceFault" nillable="true" type="tns:BankStatementServiceFault" />
  <xs:simpleType name="BankStatementServiceFaultCode">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="BankStatementServiceFaultCode" nillable="true" type="tns:BankStatementServiceFaultCode" />
</xs:schema>