ExampleCsharp1/DemoConnector/Connected Services/TwinfieldTransactionBlockedValueService/TransactionBlockedValueService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.TransactionBlockedValueService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.TransactionBlockedValueService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://c3.twinfield.com/webservices/TransactionBlockedValueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" />
  <xs:complexType name="RegisterBlockedAmountForTransaction">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q1:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="BlockedValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionLineId" type="xs:int" />
          <xs:element minOccurs="0" name="TransactionNumber" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterBlockedAmountForTransaction" nillable="true" type="tns:RegisterBlockedAmountForTransaction" />
  <xs:complexType name="UnregisterBlockedAmountForTransaction">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q2:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionLineId" type="xs:int" />
          <xs:element minOccurs="0" name="TransactionNumber" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnregisterBlockedAmountForTransaction" nillable="true" type="tns:UnregisterBlockedAmountForTransaction" />
  <xs:complexType name="TransactionBlockedValueServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:TransactionBlockedValueServiceFaultCode" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionBlockedValueServiceFault" nillable="true" type="tns:TransactionBlockedValueServiceFault" />
  <xs:simpleType name="TransactionBlockedValueServiceFaultCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BlockedValueCannotBeRegistered" />
      <xs:enumeration value="BlockedValueCannotBeUnregistered" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransactionBlockedValueServiceFaultCode" nillable="true" type="tns:TransactionBlockedValueServiceFaultCode" />
</xs:schema>