ExampleCsharp1/DemoConnector/Connected Services/TwinfieldDocumentService/DocumentService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.DocumentService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.DocumentService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://accounting.twinfield.com/webservices/DocumentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" />
  <xs:complexType name="SendDocument">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q1:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="DocumentId" type="xs:int" />
          <xs:element minOccurs="0" name="GatewayCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GatewayType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendDocument" nillable="true" type="tns:SendDocument" />
  <xs:complexType name="DocumentServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:DocumentServiceFaultCode" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentServiceFault" nillable="true" type="tns:DocumentServiceFault" />
  <xs:simpleType name="DocumentServiceFaultCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VatDocumentCouldNotBeSent" />
      <xs:enumeration value="XbrlDocumentCouldNotBeSent" />
      <xs:enumeration value="DocumentMayNotBeSent" />
      <xs:enumeration value="AccessToGatewayDenied" />
      <xs:enumeration value="GatewayNotFound" />
      <xs:enumeration value="DocumentNotFound" />
      <xs:enumeration value="GatewayCanNotSendDocument" />
      <xs:enumeration value="AskPincodeMayNotBeEnabled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DocumentServiceFaultCode" nillable="true" type="tns:DocumentServiceFaultCode" />
</xs:schema>