ExampleCsharp1/DemoConnector/Connected Services/TwinfieldPeriodService/PeriodService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.twinfield.com/" elementFormDefault="qualified" targetNamespace="http://www.twinfield.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://accounting.twinfield.com/webservices/PeriodService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" />
  <xs:import schemaLocation="https://accounting.twinfield.com/webservices/PeriodService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.Shared" />
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="Command" nillable="true" type="q1:Command" />
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.Shared" name="Authentication" nillable="true" type="q2:AuthenticationHeader" />
  <xs:element name="SessionId" nillable="true" type="xs:string" />
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="Query" nillable="true" type="q3:Query" />
  <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="Result" nillable="true" type="q4:QueryResult" />
</xs:schema>