ExampleCsharp1/DemoConnector/Connected Services/TwinfieldPeriodService/PeriodService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.PeriodService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.PeriodService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://accounting.twinfield.com/webservices/PeriodService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" />
  <xs:import schemaLocation="https://accounting.twinfield.com/webservices/PeriodService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DeleteYear">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q1:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="Year" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteYear" nillable="true" type="tns:DeleteYear" />
  <xs:complexType name="ResetYears">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q2:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="NewNumberOfPeriods" type="xs:int" />
          <xs:element minOccurs="0" name="NewYear" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResetYears" nillable="true" type="tns:ResetYears" />
  <xs:complexType name="CreateYear">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q3:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="NumberOfPeriods" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateYear" nillable="true" type="tns:CreateYear" />
  <xs:complexType name="ChangeEndDate">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q4:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PeriodNumber" type="xs:int" />
          <xs:element minOccurs="0" name="Year" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangeEndDate" nillable="true" type="tns:ChangeEndDate" />
  <xs:complexType name="ChangeName">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q5:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PeriodNumber" type="xs:int" />
          <xs:element minOccurs="0" name="Year" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangeName" nillable="true" type="tns:ChangeName" />
  <xs:complexType name="OpenPeriod">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q6:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="PeriodNumber" type="xs:int" />
          <xs:element minOccurs="0" name="Year" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OpenPeriod" nillable="true" type="tns:OpenPeriod" />
  <xs:complexType name="ClosePeriod">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q7:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="PeriodNumber" type="xs:int" />
          <xs:element minOccurs="0" name="Year" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClosePeriod" nillable="true" type="tns:ClosePeriod" />
  <xs:complexType name="GetYears">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q8:Query">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetYears" nillable="true" type="tns:GetYears" />
  <xs:complexType name="GetPeriods">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q9:Query">
        <xs:sequence>
          <xs:element minOccurs="0" name="Year" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPeriods" nillable="true" type="tns:GetPeriods" />
  <xs:complexType name="GetYearsResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q10:QueryResult">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Years" nillable="true" type="q11:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetYearsResult" nillable="true" type="tns:GetYearsResult" />
  <xs:complexType name="GetPeriodsResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q12:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Periods" nillable="true" type="tns:ArrayOfPeriod" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPeriodsResult" nillable="true" type="tns:GetPeriodsResult" />
  <xs:complexType name="ArrayOfPeriod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Period" nillable="true" type="tns:Period" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeriod" nillable="true" type="tns:ArrayOfPeriod" />
  <xs:complexType name="Period">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Open" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Period" nillable="true" type="tns:Period" />
  <xs:complexType name="PeriodServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:PeriodServiceFaultCode" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeriodServiceFault" nillable="true" type="tns:PeriodServiceFault" />
  <xs:simpleType name="PeriodServiceFaultCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="YearNotFound" />
      <xs:enumeration value="PeriodNotFound" />
      <xs:enumeration value="YearCanNotBeDeleted" />
      <xs:enumeration value="InvalidNumberOfPeriods" />
      <xs:enumeration value="YearCanNotBeCreated" />
      <xs:enumeration value="EndDateCanNotBeChanged" />
      <xs:enumeration value="NameCanNotBeChanged" />
      <xs:enumeration value="PeriodCanNotBeOpened" />
      <xs:enumeration value="PeriodCanNotBeClosed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PeriodServiceFaultCode" nillable="true" type="tns:PeriodServiceFaultCode" />
</xs:schema>