ExampleCsharp1/TwinfieldApi/Service References/TwinfieldCashBookService/CashBookService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.CashBookService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.CashBookService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://c3.twinfield.com/webservices/CashBookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" />
  <xs:complexType name="CreateCashBook">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CashBookCommand">
        <xs:sequence>
          <xs:element minOccurs="0" name="GeneralLedgerAccount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateCashBook" nillable="true" type="tns:CreateCashBook" />
  <xs:complexType name="CashBookCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q1:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CashBookCommand" nillable="true" type="tns:CashBookCommand" />
  <xs:complexType name="ChangeCashBookName">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CashBookCommand">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangeCashBookName" nillable="true" type="tns:ChangeCashBookName" />
  <xs:complexType name="ChangeCashBookShortName">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CashBookCommand">
        <xs:sequence>
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangeCashBookShortName" nillable="true" type="tns:ChangeCashBookShortName" />
  <xs:complexType name="ChangeCashBookGeneralLedgerAccount">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CashBookCommand">
        <xs:sequence>
          <xs:element minOccurs="0" name="GeneralLedgerAccount" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangeCashBookGeneralLedgerAccount" nillable="true" type="tns:ChangeCashBookGeneralLedgerAccount" />
  <xs:complexType name="GetCashBook">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q2:Query">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCashBook" nillable="true" type="tns:GetCashBook" />
  <xs:complexType name="GetCashBookResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q3:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="GeneralLedgerAccount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCashBookResult" nillable="true" type="tns:GetCashBookResult" />
  <xs:complexType name="CashBookServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:CashBookServiceFaultCode" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashBookServiceFault" nillable="true" type="tns:CashBookServiceFault" />
  <xs:simpleType name="CashBookServiceFaultCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CashBookNotFound" />
      <xs:enumeration value="CashBookAlreadyExists" />
      <xs:enumeration value="CashBookInvalidGeneralLedgerAccount" />
      <xs:enumeration value="CashBookGeneralLedgerAccountMayNotBeChanged" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CashBookServiceFaultCode" nillable="true" type="tns:CashBookServiceFaultCode" />
</xs:schema>