ExampleCsharp1/DemoConnector/Connected Services/TwinfieldBudgetService/BudgetService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.BudgetService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.BudgetService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://c3.twinfield.com/webservices/BudgetService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Twinfield.Core.TransactionData" />
  <xs:import schemaLocation="https://c3.twinfield.com/webservices/BudgetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" />
  <xs:complexType name="BudgetQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q1:Query">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dim1From" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dim1To" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dim2From" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dim2To" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dim3From" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dim3To" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IncludeFinal" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeProvisional" type="xs:boolean" />
          <xs:element minOccurs="0" name="PeriodFrom" type="xs:int" />
          <xs:element minOccurs="0" name="PeriodTo" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Twinfield.Core.TransactionData" minOccurs="0" name="Regime" type="q2:RegimeType" />
          <xs:element minOccurs="0" name="Year" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BudgetQuery" nillable="true" type="tns:BudgetQuery" />
  <xs:complexType name="GetBudgetByProfitAndLoss">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BudgetQuery">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBudgetByProfitAndLoss" nillable="true" type="tns:GetBudgetByProfitAndLoss" />
  <xs:complexType name="GetBudgetByCostCenter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BudgetQuery">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBudgetByCostCenter" nillable="true" type="tns:GetBudgetByCostCenter" />
  <xs:complexType name="GetBudgetByProject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BudgetQuery">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBudgetByProject" nillable="true" type="tns:GetBudgetByProject" />
  <xs:complexType name="GetBudgetTotalsResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q3:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="BudgetTotals" nillable="true" type="tns:ArrayOfGetBudgetTotalResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBudgetTotalsResult" nillable="true" type="tns:GetBudgetTotalsResult" />
  <xs:complexType name="ArrayOfGetBudgetTotalResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetBudgetTotalResult" nillable="true" type="tns:GetBudgetTotalResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetBudgetTotalResult" nillable="true" type="tns:ArrayOfGetBudgetTotalResult" />
  <xs:complexType name="GetBudgetTotalResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q4:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActualCredit" type="xs:decimal" />
          <xs:element minOccurs="0" name="ActualDebit" type="xs:decimal" />
          <xs:element minOccurs="0" name="ActualTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="BudgetCredit" type="xs:decimal" />
          <xs:element minOccurs="0" name="BudgetDebit" type="xs:decimal" />
          <xs:element minOccurs="0" name="BudgetTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="Dim1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dim2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dim3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Group1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Group2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Group3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Period" type="xs:int" />
          <xs:element minOccurs="0" name="Year" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBudgetTotalResult" nillable="true" type="tns:GetBudgetTotalResult" />
</xs:schema>