ExampleCsharp1/DemoConnector/Connected Services/TwinfieldSingleSignOnService/singlesignon.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.twinfield.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.twinfield.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Twinfield Single Sign-On web service methods.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.twinfield.com/">
      <s:element name="Prepare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="organisation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrepareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PrepareResult" type="tns:PrepareResult" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="PrepareResult">
        <s:restriction base="s:string">
          <s:enumeration value="Ok" />
          <s:enumeration value="NotAllowed" />
          <s:enumeration value="LogonInvalid" />
          <s:enumeration value="LogonDeleted" />
          <s:enumeration value="LogonDisabled" />
          <s:enumeration value="OrganisationIncative" />
          <s:enumeration value="TokenInvalid" />
        </s:restriction>
      </s:simpleType>
      <s:element name="OAuthPrepare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientSecret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accessToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accessSecret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OAuthPrepareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OAuthPrepareResult" type="tns:PrepareResult" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccessTokenPrepare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accessToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccessTokenPrepareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccessTokenPrepareResult" type="tns:PrepareResult" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PrepareSoapIn">
    <wsdl:part name="parameters" element="tns:Prepare" />
  </wsdl:message>
  <wsdl:message name="PrepareSoapOut">
    <wsdl:part name="parameters" element="tns:PrepareResponse" />
  </wsdl:message>
  <wsdl:message name="OAuthPrepareSoapIn">
    <wsdl:part name="parameters" element="tns:OAuthPrepare" />
  </wsdl:message>
  <wsdl:message name="OAuthPrepareSoapOut">
    <wsdl:part name="parameters" element="tns:OAuthPrepareResponse" />
  </wsdl:message>
  <wsdl:message name="AccessTokenPrepareSoapIn">
    <wsdl:part name="parameters" element="tns:AccessTokenPrepare" />
  </wsdl:message>
  <wsdl:message name="AccessTokenPrepareSoapOut">
    <wsdl:part name="parameters" element="tns:AccessTokenPrepareResponse" />
  </wsdl:message>
  <wsdl:portType name="SingleSignOnSoap">
    <wsdl:operation name="Prepare">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Prepares the single sign-on process to obtain a token.</wsdl:documentation>
      <wsdl:input message="tns:PrepareSoapIn" />
      <wsdl:output message="tns:PrepareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OAuthPrepare">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Prepares the single sign-on process for OAuth to obtain a token.</wsdl:documentation>
      <wsdl:input message="tns:OAuthPrepareSoapIn" />
      <wsdl:output message="tns:OAuthPrepareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccessTokenPrepare">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Prepares the single sign-on process to obtain a token using OAuth 2.0 access token</wsdl:documentation>
      <wsdl:input message="tns:AccessTokenPrepareSoapIn" />
      <wsdl:output message="tns:AccessTokenPrepareSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SingleSignOnSoap" type="tns:SingleSignOnSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Prepare">
      <soap:operation soapAction="http://www.twinfield.com/Prepare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OAuthPrepare">
      <soap:operation soapAction="http://www.twinfield.com/OAuthPrepare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccessTokenPrepare">
      <soap:operation soapAction="http://www.twinfield.com/AccessTokenPrepare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SingleSignOnSoap12" type="tns:SingleSignOnSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Prepare">
      <soap12:operation soapAction="http://www.twinfield.com/Prepare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OAuthPrepare">
      <soap12:operation soapAction="http://www.twinfield.com/OAuthPrepare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccessTokenPrepare">
      <soap12:operation soapAction="http://www.twinfield.com/AccessTokenPrepare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SingleSignOn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Twinfield Single Sign-On web service methods.</wsdl:documentation>
    <wsdl:port name="SingleSignOnSoap" binding="tns:SingleSignOnSoap">
      <soap:address location="https://login.twinfield.com/webservices/singlesignon.asmx" />
    </wsdl:port>
    <wsdl:port name="SingleSignOnSoap12" binding="tns:SingleSignOnSoap12">
      <soap12:address location="https://login.twinfield.com/webservices/singlesignon.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>